.fullWidthTitle {
    width: 100%;
    font-size: 2em; /* Adjust the size as needed */
    font-weight: bold;
    text-align: center;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
}

.cardBackground {
    border-radius: 5px;
    background: #bfbfbf;
    padding: 10px;
    border-width: 1px;
    border-color: #7e7e7e;
    align-content: center;
    width: 300px;
    height: 300px;
}

.cardContent {
    padding: 25px;
}

.cardTitle {
    font-size: 2em; /* Adjust the size as needed */
    font-weight: bold;
    text-align: center;
}

.cardThumbnail {
    width: 64px;
    height: 64px;
    padding-bottom: 22px;
}

.cardParagraph {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 1;
}
